<nav>
    <ul class="navigation">
        <% if (title == 'Home') { %>
            <li><a href="/" class="active">Home</a></li>
        <% } else { %>
            <li><a href="/">Home</a></li>
        <% } %>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <!--Adding button for swe page-->
        <li><a href="/teams/swe">SWE Stuff</a></li>
    </ul>
</nav>