<h1>Title</h1>
<p>Meeting Times</p>

<section>
    <img id="gamedev_image1" src="/images/computingsocietylogo.png" alt="Placeholder image">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae arcu eget magna convallis finibus. Cras eros quam, vestibulum quis enim vel, tempus tristique nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada libero non enim feugiat condimentum. Duis libero diam, pellentesque vitae faucibus sit amet, commodo vitae massa. Morbi et mollis orci. Integer feugiat tortor augue, nec lacinia tortor eleifend nec. Duis mattis ante et aliquam cursus. Maecenas elementum mauris in ligula laoreet gravida. Nulla bibendum nibh quis posuere pharetra. Donec a leo felis. Pellentesque quis ante convallis, egestas velit et, lacinia neque.</p>
</section>

<section>
    <img id="gamedev_image2" src="/images/computingsocietylogo.png" alt="Placeholder image">
    <h2>Our Project</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae arcu eget magna convallis finibus. Cras eros quam, vestibulum quis enim vel, tempus tristique nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada libero non enim feugiat condimentum. Duis libero diam, pellentesque vitae faucibus sit amet, commodo vitae massa. Morbi et mollis orci. Integer feugiat tortor augue, nec lacinia tortor eleifend nec. Duis mattis ante et aliquam cursus. Maecenas elementum mauris in ligula laoreet gravida. Nulla bibendum nibh quis posuere pharetra. Donec a leo felis. Pellentesque quis ante convallis, egestas velit et, lacinia neque.</p>
</section>