<!--Currently assisting with development of this page- MADDIE SMITH :)-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/swe.css">
</head>
<body>
    <h1 style="text-align: center;color: blue;">Welcome to <%= title %></h1>
    <p>This is a basic webpage using EJS as the templating engine.</p>
    <img id="Practice Image" src="/images/swe.jpg" alt="Placeholder picture of SWE sign" style = "float:left;width:300px">
</body>
</html>