<!--Currently assisting with development of this page- MADDIE SMITH :)-->
<body class="swe-body">
    <h1 id="swe-title"><%= title %></h1>
    <h2 id="swe-subtitle">Aspire ~ Advance ~ Achieve</h2>
    <div class="swe-textBox" style="width:1100px;height:220px;top:400px;left:350px;"></div>
    <img src="/images/swe.jpg" alt="Placeholder picture of SWE sign" style="width:300px;margin-right:75px;" class="swe-image">
    <p class="swe-para">This is some text that will talk about the Society of Women Engineers or SWE! 
        For now it will just be a bunch of words while I figure out how to use HTML and wait to meet with
        some SWE people and figure out what it is that they actually do haha
    </p>
</body>