<!--Currently assisting with development of this page- MADDIE SMITH :)-->

    <h1 id="swe-title"><%= title %></h1>
    <p class="swe-para">This is a basic webpage using EJS as the templating engine.</p>
    <img id="Practice Image" src="/images/swe.jpg" alt="Placeholder picture of SWE sign" style = "float:left;width:300px">