<h1>DONT USE</h1>

<%- messages() %>

<p>
    The Web Design and Development team is responsible for the design and development of the society's website.
</p>

<p>
    The team is responsible for the following tasks:
</p>

<ul>
    <li>Designing the website</li>
    <li>Developing the website</li>
    <li>Testing the website</li>
    <li>Deploying the website</li>
</ul>