<h1>Welcome to the Computing Society!</h1>
<%- messages() %>

<p>Find information about each team that is part of the society.</p>

<p>Click on the links in the navigation bar to find out more about each team.</p>

<p>Click on the links in the footer to find out more about the society.</p>

<h2>Links to societies:</h2>

<ul>
    <a href="/teams/wdd">WDD Team</a>
    <a href="/teams/gamedev">GD Team</a>
    <a href="/teams/cloudsolution">CS Team</a>
    <a href="/teams/dataSciAi">AI Team</a>
</ul>