/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 20px;
} */

#swe-title {
    color: #323146;
    text-align: center;
    font-size: 100px;
}

.swe-para {
    font-size: 18px;
    line-height: 1.6;
}